.services {
    background: linear-gradient(180deg, #0c0c1d, #111132);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    .textContainer {
        flex: 1;
        align-self: flex-end;
        display: flex;
        align-items: center;
        gap: 20px;

        p{
            font-weight: 200;
            font-size: 20px;
            color: gray;
            text-align: right;
        }

        hr{
            width: 200px;
            border: none;
            border-top: 0.5px solid gray;

        }
    }

    .titleContainer {
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;


        .title {
             display: flex;
             align-items: center;
             gap: 50px;

            img {
                width: 300px;
                height: 100px;
                border-radius: 50px;
                object-fit: cover;
            }

            h1{
                font-size: 96px;
                font-weight: 100;
            }
            button{
               width: 200px; 
               height: 70px;
               border: none;
               font-size: 20px;
               cursor: pointer;
               color: rgb(60, 1, 90);
               font-weight: 700;
               border-radius: 50px;
               background-color: orange;
            }
        }
    }

    .listContainer {
        
        flex: 2;
        display: flex;
        max-width: 1366px;
        margin: auto;
        .box{
            padding: 50px;
            border: 0.5px solid gray;
            display: flex;
            flex-direction: column;
            border-radius: 20px;
            justify-content: space-between;
            

            h2{
                color: rgb(247, 0, 255);
            }
            button{
                width: 80px;
                padding: 8px;
                background-color: rgb(168, 65, 101);
                cursor: pointer;
                border: none;
                font-size: 18px;
                border-radius: 25px;
            }
        }
    }

}