@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
 
.navbar{
    height: 100px;

    .wrapper {
        max-width: 1000px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
      

        span {
            font-family: 'Satisfy', cursive;
            font-weight: bold;
            letter-spacing: 5px;
        }

        .social{
            display: flex;
            gap: 20px;

            img {
                border-radius: 60px;
                width: 30px;
                height: 30px;
            }
        }
    }
}